**/.git
**/.gitignore
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.db
**/.pytest_cache
**/.vscode
**/.idea
**/venv
**/.venv
**/env
**/.env
**/node_modules
**/dist
**/build
**/target
**/models/cache
**/minutes
**/_EXPORTADO
**/todo_el_proyecto.txt

# Bloquear datos de bases de datos locales
**/infra/local/data/
**/data/
**/*.dat
**/*.bin
**/pg_wal/
**/collections/
**/transcriptions/
**/minutes-txt/
**/infra/local/data/**
**/infra/local/data/postgres/**
**/infra/local/data/qdrant/**
**/infra/local/data/minio/**
**/infra/local/data/redis/**
**/postgres/
**/qdrant/
**/minio/
**/redis/
